:root {
  --black: #282828;
  --black-dark: #1d2021;
  --black-light: #3c3836;
  --white: #ebdbb2;
  --white-dark: #d5c4a1;
  --white-light: #f2e5bc;
  --blue: #458588;
  --blue-light: #83a598;
  --blue-dark: #076678;
  --red: #cc241d;
  --red-dark: #9d0006;
  --red-light: #fb4934;
  --green: #98971a;
  --green-dark: #79740e;
  --green-light: #b8bb26;
  --orange: #d65d0e;
  --orange-dark: #af3a03;
  --orange-light: #fe8019;
  --yellow: #d79921;
  --yellow-dark: #b57614;
  --yellow-light: #fabd2f;
  --purple: #b16286;
  --purple-dark: #8f3f71;
  --purple-light: #d3869b;
  --cyan: #689d6a;
  --cyan-dark: #427b58;
  --cyan-light: #8ec07c;
}

body {
  font-family: sans-serif;
  background: var(--black);
  color: var(--white);
}

main {
  max-width: 800px;
  margin: auto;
}

img {
  max-width: 100%;
}

header h1 {
  text-align: center;
}

footer {
  text-align: center;
  clear: both;
}

a.home-button {
  position: fixed;
  top: 0;
  right: 0;
}
a.home-button:not(:hover):not(:first-of-type) > svg {
  opacity: 0.7;
}
a.home-button:hover::after {
  background-image: unset;
}
a.home-button > svg {
  opacity: 1;
  height: 96px;
  transition: 100ms all linear;
  fill: var(--orange-dark);
}
a.home-button > svg:hover {
  fill: var(--orange);
}

a,
a:visited {
  color: var(--blue);
  transition: all 50ms linear;
  position: relative;
}

a:hover {
  color: var(--blue-light);
  text-decoration: none;
}

a:hover::after {
  transition: all 50ms linear;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    indigo,
    violet
  );
  z-index: -1;
}

/* For TAGLIST.HTML */
.taglist {
  text-align: center;
  clear: both;
}

/* For NEXTPREV.HTML */
#nextprev {
  /* The container for both the previous and next articles. */
}
#prevart {
  float: left;
  text-align: left;
}
#nextart {
  float: right;
  text-align: right;
}
#nextart,
#prevart {
  max-width: 33%;
}

.inline-image {
  display: inline;
  padding: 0;
  margin: 0;
}

.inline-image > img {
  height: 1rem;
}
